{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
	<div class="container">
		<h1>Add Item</h1>
		<div class="row">
			<div class="col-md-8">
				<form class="form">
					<div class="form-group">
						<label for="category">Category</label>
						<input name="category" class="form-control" type="text">
					</div>
					<div class="form-group">
						<label for="brand">Brand</label>
						<input name="brand" class="form-control" type="text">
					</div>
					<div class="form-group">
						<label for="model">Model</label>
						<input name="model" class="form-control" type="text">
					</div>
					<div class="form-group">
						<label for="supplier">Supplier</label>
						<input name="supplier" class="form-control" type="text">
					</div>
					<div class="form-group">
						<input name="submit" class="form-control" type="submit" value="Submit">
					</div>
				</form>
			</div>
		</div>
	</div>
	
{% endblock %}