{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
	<div class="container">
		<div class="newsfeed">
			<form class="form">
				<label>Date</label>
				<input type="text" class="form-control">
			</form>
		</div>
	</div>
	
{% endblock %}