<!DOCTYPE html>
<html>
<head>
	<title>Inventory Management System, Logistics & Supply Chain Management</title>
</head>
<body>
	<div>
      {{ user }}
      {% if user.is_anonymous %}
      <a href="{% url 'accounts:login' %}">login</a>
      {% else %}
      <a href="{% url 'accounts:logout' %}">logout</a>
      {% endif %}
    </div>
	{% block content %}{% endblock %}
</body>
</html>