<!DOCTYPE html>
<html>
<head>
	<title>POS + Inventory System</title>

	<!-- Local Scripts & Styles -->
	<!--<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
	<script type="text/javascript" src="/static/js/jquery.js"></script>
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>-->

	<!-- Data Tables + Bootstrap + Jquery -->
	<!-- http://datatables.net/ -->
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
	<link rel="stylesheet" type="text/css" href="/static/vendor/datatables/datatables.min.css">
	<script type="text/javascript" src="/static/vendor/datatables/datatables.min.js"></script>
	<script type="text/javascript" src="/static/js/scripts.js"></script>

</head>
<body>
	<div class="section-navbar">
		<nav class="navbar navbar-default">
		  	<div class="container">
			    <div class="navbar-header">
			    	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
			      	</button>
			      	<a class="navbar-brand" href="{% url 'home' %}">Inventory</a>
			    </div>
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      	<ul class="nav navbar-nav">
			      		<li class="dropdown">
				          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Transactions <span class="caret"></span></a>
				          <ul class="dropdown-menu">
				            <li><a href="{% url 'add_item' %}">Add Inventory Item</a></li>
				            <li><a href="{% url 'add_arrival' %}">Add Arrival</a></li>
				            <li><a href="{% url 'add_sales' %}">Add Sales</a></li>
				            <li role="separator" class="divider"></li>
				            <li><a href="{% url 'transfer_item' %}">Transfer Items</a></li>
				          </ul>
				        </li>
				        <li class="dropdown">
				          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reports <span class="caret"></span></a>
				          <ul class="dropdown-menu">
				            <li><a href="{% url 'item_reports' %}">Inventory</a></li>
				            <li><a href="{% url 'arrival_reports' %}">Arrivals</a></li>
				            <li><a href="{% url 'sales_reports' %}">Sales</a></li>
				            <li><a href="{% url 'transfer_reports' %}">Transfers</a></li>
				          </ul>
				        </li>
			      	</ul>
			      	<ul class="nav navbar-nav navbar-right">
			        	<li><a href="{% url 'notifications' %}">Notifications</a></li>
			        	<li class="dropdown">
				          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings <span class="caret"></span></a>
				          <ul class="dropdown-menu">
				            <li><a href="">Profile</a></li>
				            <li><a href="#">Logout</a></li>
				          </ul>
				        </li>
			      	</ul>
			    </div><!-- /.navbar-collapse -->
		  	</div><!-- /.container-fluid -->
		</nav>
	</div>
	<div class="section-content">
		{% block content %}{% endblock %}
	</div>
	<div class="section-footer"></div>
</body>
</html>