{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Inventory Reports</h1>
				<p>This page will output all the items in inventory.</p>
				<hr>
			</div>
		</div><br>
		<div class="row">
			<div class="col-md-6">
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th colspan="2">Results Summary</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Total items in inventory</td>
							<td>{{ length }}</td>
						</tr>
						<tr>
							<td>Inventory Value</td>
							<td>P {{ inventory_value }} </td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<!-- TODO: AVOID DATA BINDING IN DOM -->
				<table id="item_reports" class="table table-hover table-bordered table-condensed table-responsive">
					<thead>
						<tr>
							<th>Item ID</th>
							<th>Item Code</th>
							<th>Supplier Code</th>
							<th>Category</th>
							<th>Type</th>
							<th>Brand</th>
							<th>Model</th>
							<th>Supplier</th>
							<th>Minimum Required in Inventory</th>
							<th>Warehouse Quantity</th>
							<th>Store Quantity</th>
							<th>Unit Cost</th>
						</tr>
					</thead>
					<tbody>
						<!-- TODO: Iterate through keys instead of manually creating them. -->
						{% for item in items %}
						<tr>
							<td>{{item.id}}</td>
							<td>{{item.itemCode}}</td>
							<td>{{item.supplierCode}}</td>
							<td>{{item.category}}</td>
							<td>{{item.itemType}}</td>
							<td>{{item.brand}}</td>
							<td>{{item.itemModel}}</td>
							<td>{{item.supplier.description}}</td>
							<td>{{item.minimumRequired}}</td>
							<td>{{item.warehouse_quantity}}</td>
							<td>{{item.store_quantity}}</td>
							<td>P {{item.unit_cost}}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<a href="#" class="btn btn-info">Print</a>
				<a href="#" class="btn btn-success">Download CSV</a>
			</div>
		</div>
	</div>
{% endblock %}