{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Sales Reports</h1>
				<p>This page will output all the items sold in a particular period. The data will be acquired from the Sales and Item Model. </p>
				<hr>
				<form class="form-inline">
					<div class="form-group">
						<label>Date Period: </label>
						<input type="date" class="form-control">
					</div>
					<select name="item_id">
						<option>Category | Brand | Model</option>
					</select>
					<div class="form-group">
						<input type="submit" class="btn btn-danger" value="Add">
					</div>
				</form>
			</div>
		</div><br>
		<div class="row">
			<div class="col-md-6">
				<table class="table table-striped table-bordered">
					<thead>
						<tr>
							<th colspan="2">Results Summary</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Date Period</td>
							<td>{{ date_period }}</td>
						</tr>
						<tr>
							<td>Total Items Sold</td>
							<td>{{ sales_length }}</td>
						</tr>
						<tr>
							<td>Total Sales</td>
							<td>{{ sales_total }}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12">
				<table id="sales_reports" class="table table-bordered">
					<thead>
						<tr>
							<th colspan="9">Results (1)</th>
						</tr>
						<tr>
							<th>Date</th>
							<th>Category</th>
							<th>Type</th>
							<th>Brand</th>
							<th>Model</th>
							<th>Quantity</th>
							<th>Unit Cost</th>
							<th>Total Cost</th>
						</tr>
					</thead>
					<tbody>
						{% for sale in sales %}
						<tr>
							<td>{{sale.date}}</td>
							<td>{{sale.item.category}}</td>
							<td>{{sale.item.itemType}}</td>
							<td>{{sale.item.brand}}</td>
							<td>{{sale.item.itemModel}}</td>
							<td>{{sale.quantity}}</td>
							<td>{{sale.item.unit_cost}}</td>
							<td>{{sale.total_cost}}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-12">
				<a href="#" class="btn btn-info">Print</a>
				<a href="#" class="btn btn-success">Download CSV</a>
			</div>
		</div>
		
	</div>
	
{% endblock %}